<!DOCTYPE html>
<html>
	<head>
		<h1>Splash Baby</h1>
	</head>
	<body>
		<div>
			<a id="login/logout" href="logRoute">LogIn/LogOut</a>
		</div>
		<div>
			<a id="profile" href="mgmt">Profile</a>
		</div>
		
	</body>
</html>