<html>
    <head></head>
        <body>
            <form name="employeeView" id="form1" action="/manager" method="POST"> Employees:        
            <script>
                window.onload = function() {
                    var raw = "<%= empList%>";
                    let empList = raw.split(",");
                    var empSelect = document.getElementById("employee")
                    for(var x in empList){
                        empSelect.options[empSelect.options.length] = new Option(empList[x], empList[x]);
                    }
                }

                /*function myfunc(item, index) {
                    emp += '<div><a id="empPages" href="/">' + item + '</a></div>';
                }
                var raw = "<%= empList%>";
                let empList = raw.split(",");
                let emp = "";
                empList.forEach(myfunc);
                document.write(emp); */                        
            </script>
            <select id="employee" name="employee">
                <option value="" selected="selected">Select</option>
            </select>
            
            <button type="submit">View Profile</button>
            </form>
        </body>
</html>