<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://js.live.net/v7.2/OneDrive.js"></script>

    <script type="text/javascript">
    function launchSaveToOneDrive(){
        var odOptions = { 
        clientId: "<%= clientID%>",
        action: "save",
        sourceInputElementId: "fileUploadControl",
        sourceUri: "",
        fileName: "proof.txt",
        openInNewWindow: true,
        accountSwitchEnabled: true,
        success: function(files) {
          var urlSelect = document.getElementById("prooflink")
              urlSelect.options[urlSelect.options.length] = new Option(files["value"][0]["webUrl"], files["value"][0]["webUrl"]);
          },
                   
          /*var elem = document.getElementById("html")
                                  console.log(files["value"][0]["webUrl"])
                                  elem.innerHTML = files["value"][0]["webUrl"]
                                  //document.write("<p id='url'>" + files["value"][0]["webUrl"] + "</p>" )*/
                                
        progress: function(percent) { /* progress handler */ },
        cancel: function() { console.log("canceled") },
        error: function(error) { }};
        OneDrive.save(odOptions);
    }
   </script>
  </head>
  <body>
    

        <input id="fileUploadControl" name="fileUploadControl" type="file" />
        <button onclick="launchSaveToOneDrive()">Save to OneDrive</button>
        
        <form name="form1" id="form1" action="/test" method="POST" style="color:#1496FF;">
          <select id="prooflink" name="prooflink" disabled="true">prooflink</select>
          <button type="submit">complete</button>
        </form>
  </body>
</html>